SERVER_IP=
SSH_PORT=51389

PANEL_USERNAME=admin
PANEL_PASSWORD=ChangeMeNow123!
PANEL_PORT=2053
PANEL_PATH=/s3cure/

SUB_ENABLED=true
SUB_PORT=2096
SUB_PATH=/sub

INSTALL_FAIL2BAN=true
INSTALL_UFW=true
INSTALL_WARP=false
ENABLE_BBR=true
ENABLE_AUTO_SECURITY_UPDATES=true

XUI_IMAGE=ghcr.io/mhsanaei/3x-ui:v2.6.4

BASE_DIR=/opt/3x-ui
DB_DIR=/opt/3x-ui/db
CERT_DIR=/opt/3x-ui/cert
BACKUP_DIR=/opt/3x-ui/backups

XRAY_INBOUND_REMARK=VLESS-Reality
XRAY_INBOUND_PORT=443
XRAY_REALITY_SNI=www.cloudflare.com
XRAY_REALITY_TARGET=www.cloudflare.com:443
XRAY_REALITY_PUBLIC_KEY=
XRAY_REALITY_PRIVATE_KEY=
XRAY_REALITY_SHORT_ID=
XRAY_INBOUND_ID=
